body{
    margin: 0;
    background-color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.b{
    border: 1px solid red;
}

header{
    margin-top: 2%;
}
.container {
    width: 90%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.menu li {
    list-style: none;
}
.menu li a {
    text-decoration: none;
}
.logotype{
    width: 144px;
    height: 44px;
}
.menu-type{
    color: #fff;
    font-size: 17px;
    font-weight: 600;
}
.header-container{
    width: 90%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
button{
    width: 189px;
    height: 60px;
    background: #9BF00B;
    color: #000000;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
}

/* ===================TOP MENU=================== */

.bg-container{
    width: 90%;
    max-width: 960px;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
}
.bg-img1{
    position: absolute;
    width: 773px;
    height: 1010px;
    left: 680px;
    top: 164px;
    z-index: -1;
}
.bg-h5{
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #9BF00B;
}
.bg-h1{
    font-weight: 600;
    font-size: 160px;
    line-height: 90.8%;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.bg-h6{
    font-weight: 600;
    font-size: 23px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #818181;
}

/* ===================BLOCK MENU=================== */

.block-container{
    width: 90%;
    max-width: 960px;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.img-block{
    width: 91.58px;
    height: 61.43px;  
}

/* ===================TXT MENU=================== */

.txt-container{
    width: 90%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.bc-h1{
    font-weight: 700;
    font-size: 85px;
    line-height: 90.8%;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    text-align: center;
}
.sp-gr{
    font-weight: 700;
    font-size: 85px;
    line-height: 90.8%;
    letter-spacing: -0.03em;
    color: #92E10B;
}
.bc-bg-txt{
    width: 950px;
    height: 480px;
    background-image: url(../img/image2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.sbc-h1{
    font-weight: 700;
    font-size: 72px;
    line-height: 100%;
    color: #FFFFFF;
    text-align: start;
}
.bc-bg-h{
    position: relative;
    width: 472px;
    height: 369px;
    left: 450px;
    top: 50px;
}
.bc-bg-img3{
    width: 950px;
    height: 650px;
    background-image: url(../img/image3.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-position: center;
    margin-top: 2%;
}
.mt{
    margin-top: 10%;
}


.tal{
    text-align: start;
}
.tals{
    text-align: center;
}
.hfs{
    font-size: 52px;
}
.bc2-container {
    width: 90%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
}
.grid1{
    position: relative;
    width: 392px;
    height: 140px;
    left: 65%;
}
.bc-bg-img4{
    width: 520px;
    height: 550px;
    background-image: url(../img/image4.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-position: center;
    margin-top: 2%;
}
.bc-bg-img5{
    position: relative;
    left: 55.5%;
    top: -400px;
    width: 435px;
    height: 550px;
    background-image: url(../img/image5.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-position: center;
    margin-top: 2%;
}
.bc-bg-img6{
    position: relative;
    top: -570px;
    width: 520px;
    height: 550px;
    background-image: url(../img/image6.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-position: center;
    margin-top: 2%;
}
.bc-bg-img7{
    position: relative;
    left: 55.5%;
    top: -975px;
    width: 435px;
    height: 550px;
    background-image: url(../img/image7.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-position: center;
    margin-top: 2%;
}


.bc3-container {
    width: 90%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    margin-top: -40%;
}
.grid2{
    position: relative;
    width: 392px;
    height: 140px;
}
.bc-bg-img8{
    width: 950px;
    height: 900px;  
    background-image: url(../img/image8.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-position: center;
    margin-top: -15%;
}
.bc-bg-img9{
    width: 950px;
    height: 900px;  
    background-image: url(../img/image9.png);
    background-size: auto;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-position: center;
}
.label{
    position: relative;
    top: 20%;
    left: 15%;
}

.block-end-1{
    border-bottom: 2px solid #2E2E2E;
}
.end-one-txt-gr{
    font-weight: 600;
    font-size: 23px;
    color: #777777;
    margin-top: -2%;
}
.end-one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.end-one-txt{
    font-weight: 600;
    font-size: 23px;
    color: #FFFFFF;
}
.arrow-up{
    width: 20px;
    height: 10px;
}
.bb{
    border-bottom: 2px solid #2E2E2E;
}
.ffb{
    color: #A0A0A0;
}



footer{
    margin-top: 15%;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-menu{
    width: 50%;
    margin-left: -10%;
}
.footer-icons{
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logotype{
    width: 15%;
    height: 44px;
}

.privacy{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
}
.privacy-txt{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #777777;
}